
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>
    <img mat-card-image src="/assets/images/account.jpg">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)= "login()">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
          <br>
          <mat-form-field appearance="fill" style="width:200px;">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            
          </mat-form-field>
         
          <br>
          <mat-card-content>
            <section class="example-section">
              <mat-checkbox (change)="ischecked($event)" class="example-margin">Stay Sign-in</mat-checkbox>
            </section>
          </mat-card-content>
          <div class="text_center p-t-115">  
          <a class="txt3">Need help?</a>
          <div class="arrow">
            <div id="cdk-overlay-2" class="cdk-overlay-pane">
              <mat-select>
                <mat-option value="one"><a class="txt4">Forgot password</a></mat-option>
                <mat-option value="two"><a class="txt4">Other isuue with Sign-in</a></mat-option>
                </mat-select>
              </div>
          </div>
          </div>
        
          <mat-card-actions>
            <button mat-stroked-button mat-dialog-close (click)="login()"  class="example-icon-signin" aria-label="Example icon-button with signin icon">
              <a>Sign-in</a>
            </button>
          
          </mat-card-actions>
        
            <div class="text-center p-t-115">
                <span class="txt1">
                    Don’t have an account?
                </span>
    
                <a class="txt2" (click)="openDialog()" >
                    SignUp 
                </a>
            </div>
       
       

      </form>
    </mat-card-content>
</mat-card>

  