
.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
 
    height: 430px;

}
.mat-form-field{
    margin-left: 280px;
    top:-335px
}
.mat-card-image {
    width: calc(100% + -210px);
    margin: 0 -16px 16px -16px;
    height: 350px;
}
.mat-stroked-button {
    margin: 0 8px;
    left: 337px;
    top: 30px;
}
.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    text-align: center;
    margin-left: 130px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin{
    margin-bottom: 710px;
    margin-left: 279px;
}
.txt1{
    margin-right: -3px;
    margin-left: 249px;
 
}
.text-center{
    margin-top: 44px;
}
.txt3{
    margin-right: -3px;
    margin-left:391px;
   
}
.text_center{
    margin-top: -410px;
}
.arrow{
    margin-top: -20px;
    margin-left:465px;
}
