.one{
    margin-top: 1px;
}
.two{
    margin-top: 1px;
}
.three{
    margin-top: 1px;
}
.four{
    margin-top: 1px;
}
.five{
    margin-top: 1px;
}
.six{
    margin-top: 1px;
}
.seven{
    margin-top: 13px;
    margin-left: 126px;
}