
.btn{
    margin-bottom: 30px;
}
.card{
    top:10px;
    margin-left: 800px;
    
   
}
.cards{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 8px #888888;
    position: absolute;
}
.ttl{
    margin-left: 117px;
}
.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #002c3e;
    padding: 45px 50px;
    border-radius: 5px;
    color: #ffffff;
}
.why_section .box .img-box {
    margin-bottom: 15px;
}
.why_section .box .img-box svg {
    width: 55px;
    height: auto;
    fill: #ffffff;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
 h1 {
    font-family: 'Playfair Display', monospace;
 }