.example-card {
  max-width: 400px;
  margin-top: 253px;
  margin-left: 600px;
  margin-bottom: 208px;
  width: 337px;
  border-radius: 15px;
  box-shadow:0 10px 20px rgba(0,0,0,100%);
  }
  .three{
    margin-left: 115px;
  }
  .one{
    margin-top: 50px;
  }
  .title{
    margin-left: 77px;
  }