.center-align{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.example-card {
  border-radius: 15px;
  padding: 35px;
  }
  .three{
    margin-left: 115px;
  }
  .one{
    margin-top: 50px;
  }
  .title{
    margin-left: 77px;
  }