.carousel-indicator {
    background-color: black;
    }
    
.carousel-indicators{
    bottom:0;
}
.example-card{
    
    border-radius:15px;
}   
.carousel-control-prev-icon,.carousel-control-next-icon{
    width: 1rem;
    background-color: black;
    padding-left: 21px;
    }
.d-block{
    height: 300px;
}

.control-next{
    right: 50px;
}
.price{
    margin-top: 10px;
}
.dollar{
    margin-top: 1px;
}
.add{
    margin-right: 5px;
}
.remove{
    margin-left: 5px;
}
.btn3{
    margin-left: 1px;
}