<ng-container *ngIf="products.length !=0" >
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>

                            <th style="padding-left: 20px;">Name</th>
                            <th style="padding-left: 80px;">Price</th>
                            <th style="padding-left: 110px;">Product Image</th>
                            <th style="padding-left: 140px;">Quantity</th>
                            <th style="padding-left: 170px;">Sub Total</th>
                            <th style="padding-left: 200px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of products" >
                            <td style="padding-left: 20px;">{{items.name}}</td>
                            <td style="padding-left: 80px;">&#8377; {{items.price}}</td>
                            <td style="padding-left: 120px;"><img style="width: 120px;" src="{{items.imageUrl}}" alt=""></td>
                            <td style="padding-left: 150px;">{{items.quantity}}</td>
                            <td style="padding-left: 180px;">&#8377; {{items.price * items.quantity | number}}</td>
                            <td style="padding-left:200px;">
                                <button mat-icon-button  color="warn"  (click)="removeItem(items.id)" ><mat-icon>delete_forever</mat-icon></button>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="2"></td>
                            <td><button  class="btn btn-danger" (click)="emptycart()">Empty Cart</button></td>
                            <td><button mat-raised-button class="primary" color="primary" routerLink="/home" routerLinkActive>Shop more</button></td>
                            <td><button class="btn btn-success" routerLink="/cart/payment" routerLinkActive="active">Checkout</button></td>
                            <td><strong class="total">Grand Total : &#8377; {{totalPrice}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0" >
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img class="img" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button  class="btn btn-primary"routerLink="/home" routerLinkActive="active">Shop Now</button>
        </div>
    </div>
</ng-container>
