<div class="container">
  <div class="row">
    <mat-card class="example-card">
      <div class="col">

        <img mat-card-image src="/assets/images/download (2).jpg">
      </div>
      <div class="col-md">
        <mat-card-content>
          <mat-card-title>Phone</mat-card-title>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <button mat-raised-button>Add to Cart</button>
          <button mat-raised-button color="primary">Buy Now</button>
          <button mat-icon-button class="example-icon-menu" aria-label="Example icon-button with menu icon">

            <span class="name">Quantity :</span>
            <mat-select>
              <mat-option><button mat-icon-button>1</button></mat-option>
              <mat-option><button mat-icon-button>2</button></mat-option>
              <mat-option><button mat-icon-button>3</button></mat-option>
            </mat-select>
          </button>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>