<ng-container class="container">
 <mat-card class="example-card">
    <div class="box">
      <div class="col1">
        <mat-card-header>
          <mat-card-title class="title">Software Solution Development</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col2">
        <img mat-card-image  class="images"src="/assets/images/ssd.png">
      </div>
      <div class="col3">
        <mat-card-content class="content">
          <p>
            S2Infinitum Softech offers world class software solutions that help
            you take your Company to the next level. We specializes in the design,
            development and implementation of custom solutions....
          
          </p>
        </mat-card-content>
      </div>
      <div class="col4">
        <mat-card-actions>
          <button type="button" class="btn btn-outline-info btn-sm">Read more</button>

        </mat-card-actions>
      </div>
    </div>
 </mat-card>
</ng-container>
<div class="content-section implementation carousel-demo">
  <div class="card">
    <p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
      [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
      <ng-template let-image pTemplate="item">
        <div class="item card">
          <img src="{{image.picture}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{image.random}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>