@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,480,500,600,700,800,900&display=swap');

.example-card {
    position: relative;
   // max-width: 400px;
    border-radius: 15px;
    margin: 30px;
    background-color: rgb(241, 245, 244);
    padding: 20px;

}
mat-card-content{
    margin-left: 1px;
}